.MuiAppBar-colorPrimary {
  background-color: cadetblue !important;
}
.makeStyles-inputInput-22 {
  width: 220px !important;
}
.makeStyles-inputInput-22:focus {
  width: 420px !important;
}
.MuiTableCell-sizeSmall {
  padding: 6px !important;
}

ol {
  margin-block-start: 0;
  margin-block-end: 0;
}

@media print {
  td {
    /* add this line for better support in chrome */
    -webkit-print-color-adjust: exact;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
